nav{
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}
nav > h1{
  font-size: 50px;
  margin-top: 25px;
  margin-left: 50px;
}
nav > li{
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  font-size: 19px;
  margin-top: 50px;
  color: rgb(114, 114, 109);
  font-weight: 500;
}
.container
{
  margin-top: 1cm;
  background-color: #30aafe;
  font-family: 'Roboto', sans-serif;
}
.card
{
  border: transparent;
  border-radius: 15px;
}
.card-price
{
  font-size:xx-large;
}
.month
{
  font-size: large;
}
ul.details
{
  list-style-type: none;
}
span
{
  margin: 7px;
  color: rgb(88, 86, 86);
}
li
{
  margin-bottom: 1rem;
}
.text-muted
{
  opacity: 0.9;
}
.btn
{
  border-radius: 15px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #558fe3;
  color: white;
}
@media (min-width: 500px) 
{
  .card:hover 
  {
    margin-top: -1rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .btn:hover
  {
    background-color: #e11f53;
    color: whitesmoke;
  }
}